:root {
  --header-height: 50px;
  --nav-height: 60px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.debug {
  min-height: 80px;
  background-color: lightgray;
  padding: 2rem;
}

body {
  background-color: black;
}

/* HEADER */
header {
  /* position: fixed; */
}
.grid-view {
  font-size: 0.7rem;
  text-align: end;
  margin-top: 5px;
  height: var(--header-height);
}

.lable {
  display: inline-block;
  background-color: #4a4a4a;
  height: 1rem;
  padding: 0 3px;
  border-radius: 5px;
  line-height: 1rem;
  vertical-align: middle;
  margin-right: 5px;
}

#maximize {
  display: inline-block;
}

/* WRAPPER */
.wrapper {
  height: calc(100vh - var(--header-height) - var(--nav-height));
  width: 100%;

  overflow: hidden;
}

main .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3px;
  row-gap: 7px;
}

.user-pic {
  width: calc(100% / 7);
  background-image: url(https://picsum.photos/500/300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  aspect-ratio: calc(16 / 9);

  /* debug */
  /* background-color: #4a4a4a; */
}

.user-pic img {
}

.user-lable {
  position: absolute;
  bottom: 0;
  font-size: 0.7rem;
  /* background-color: blue; */
  padding: 2px 5px;
  backdrop-filter: brightness(0.6) blur(2px);
}

/* NAV */
nav {
  font-size: 0.5rem;
  height: var(--nav-height);
  background-color: #222222;
  display: flex;
  align-items: center;
}
nav p {
  padding-top: 5px;
}

nav i {
  font-size: 1.5rem;
}
.nav-left {
  /* margin: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mute-mic,
.video-stop {
  text-align: center;
  padding: 0 20px;
}

.up-arrow {
  display: flex;
  align-items: center;
}

.up-arrow > i {
  font-size: 0.5rem;
}
