:root {
  --header-height: 1.4rem;
  --nav-height: 60px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

.debug {
  /* min-height: 80px;
  background-color: lightgray;
  padding: 2rem; */
}

body {
  background-color: black;
}

/* HEADER */

.grid-view {
  font-size: 0.7rem;
  text-align: end;
  height: var(--header-height);
  line-height: var(--header-height);
  vertical-align: middle;
}

.lable {
  display: inline-block;
  background-color: #4a4a4a;
  height: 1rem;
  padding: 0 3px;
  border-radius: 5px;
  line-height: 1rem;
  vertical-align: middle;
  margin-right: 5px;
}

#maximize {
  display: inline-block;
}

/* WRAPPER */

/* NAV */
nav {
  font-size: 0.5rem;
  height: var(--nav-height);
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

nav p {
  padding-top: 5px;
}

nav i {
  font-size: 1.3rem;
}

/* NAV LEFT */
.nav-left {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
}

.mute-mic,
.video-stop {
  text-align: center;
  padding: 0 20px;
}

.up-arrow {
  display: flex;
  align-items: center;
}

.up-arrow > i {
  font-size: 0.5rem;
}

.nav-center {
  max-width: 1000px;
  min-width: 500px;
}

.nav-center ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fa-share-from-square {
  color: lime;
}

.nav-center li div {
  text-align: center;
}

.nav-right div {
  background-color: #4a4a4a;
  color: red;
  font-weight: bold;

  min-width: 80px;
  height: var(--nav-height);
  padding: 0 1rem;
  line-height: var(--nav-height);
  vertical-align: middle;
}
